@import "./bootstrap.scss";

.card {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.card-source {
    flex: 50%;
    border-right: 1px solid $body-color;
}

.card-content {
    flex: 50%;
}

#simpleReactiveCardContent {
    display: flex;
    flex-direction: row;
    vertical-align: text-bottom;
    gap: $gap;
}