@import "./bootstrap.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: $body-bg;
    color: $body-color;
    font-size: 16px;
    font: 1rem/1.5 "Open Sans", sans-serif;
}

#PageFrameContent {
    padding: $gap;
    padding-top: calc(3 * $gap);
}

.visible {
    opacity: 1 !important;
    filter: blur(0) !important;
}